[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thewisenerd
[access "refs/for/refs/*"]
	read = group user/thewisenerd
	push = group user/thewisenerd
	label-Code-Review = -2..+2 group user/thewisenerd
	label-Verified = -1..+1 group user/thewisenerd
	rebase = group user/thewisenerd
	removeReviewer = group user/thewisenerd
	submit = group user/thewisenerd
[access "refs/heads/*"]
	read = group user/thewisenerd
	create = group user/thewisenerd
	push = +force group user/thewisenerd
	pushMerge = group user/thewisenerd
[access "refs/tags/*"]
	push = +force group user/thewisenerd
	pushTag = group user/thewisenerd
	pushSignedTag = group user/thewisenerd
